<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Transport Company</title>
    <link rel="icon" type="image/png" th:href="@{truck.png}"/>
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" th:href="@{css/error.css}"/>
</head>
<body>
 <div class="cover"><h1>Origin Error - Unknown Host <small>Error 520</small></h1><p class="lead">The requested hostname is not routed. Use only hostnames to access resources.</p></div>
    <footer>
    	<p> <a href="index.html">Back to the main page</a></p>
    </footer>
</body>
</html>