<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Transport Company</title>
    <link rel="icon" type="image/png" th:href="@{truck.png}"/>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" th:href="@{css/sb-admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/custom.css}"/>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/main}">ACME Transport Company</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
                    <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">New Messages:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>David Miller</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome!
                            These messages clip off when they reach the end of the box so they don't overflow over to
                            the sides!
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>Jane Smith</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00
                            instead of 4:00. Thanks!
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>John Doe</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">I've sent the final files over to you for review. When
                            you're able to sign off of them let me know and we can discuss distribution.
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href="#">View all messages</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
                    <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">New Alerts:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems
                            are online.
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems
                            are online.
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems
                            are online.
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href="#">View all alerts</a>
                </div>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="orderOperator.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Add new order</li>
        </ol>
        <h1>Add new order</h1>
        <hr>


        <form action="#" th:action="@{/next_order}" th:object="${order}" method="post">
            <p><h6>Id</h6></p>
            <div class="col-md-2.5">
                <input class="form-control" placeholder="OrderId" th:field="*{id}"/>
            </div>
            <p><h6>Order status</h6></p>
            <div class="col-md-2.5">
                <input class="form-control" placeholder="Order status" th:field="*{orderStatus}"/>
            </div>
            <p><h6>Pickup type</h6></p>
            <div class="col-md-2.5">
                <input class="form-control" placeholder="Pickup type" th:field="*{pickupType}"/>
            </div>
            <p><h6>Delivery type</h6></p>
            <div class="col-md-2.5">
                <input class="form-control" placeholder="Delivery type" th:field="*{deliveryType}"/>
            </div>
             <p><h5>Information about sender:</h5></p>
            <p><h6>Address:</h6></p>
            <div class="form-row">
                <div class="col-md-3">
                    <input class="form-control" placeholder="Country" th:field="*{sender.address.country}"/>
                    <input class="form-control" placeholder="Street" th:field="*{sender.address.street}"/>
                </div>
                <div class="col-md-3">
                    <input class="form-control" placeholder="Region" th:field="*{sender.address.region}"/>
                    <input class="form-control" placeholder="Building" th:field="*{sender.address.building}"/>
                </div>
                <div class="col-md-3">
                    <input class="form-control" placeholder="City" th:field="*{sender.address.city}"/>
                    <input class="form-control" placeholder="Additional info" th:field="*{sender.address.additionalInfo}"/>
                </div>
            </div>
            <p><h6>Sender personal info</h6></p>
            <div class="form-row">
              <div class="col-md-3">
                <input class="form-control" placeholder="First Name" th:field="*{sender.name}"/>
              </div>
              <div class="col-md-3">
                <input class="form-control",size=20, placeholder="Last Name" th:field="*{sender.surname}"/>
              </div>
              <div class="col-md-3">
                <input type="tel" class="form-control",size=20, placeholder="Phone number" th:field="*{sender.phoneNumber}"/>
              </div>
            </div>
            <p><h5>Information about receiver:</h5></p>
            <p><h6>Address:</h6></p>
            <div class="form-row">
                <div class="col-md-3">
                    <input class="form-control" placeholder="Country" th:field="*{receiver.address.country}"/>
                    <input class="form-control" placeholder="Street" th:field="*{receiver.address.street}"/>
                </div>
                <div class="col-md-3">
                    <input class="form-control" placeholder="Region" th:field="*{receiver.address.region}"/>
                    <input class="form-control" placeholder="Building" th:field="*{receiver.address.building}"/>
                </div>
                <div class="col-md-3">
                    <input class="form-control" placeholder="City" th:field="*{receiver.address.city}"/>
                    <input class="form-control" placeholder="Additional info" th:field="*{receiver.address.additionalInfo}"/>
                </div>
            </div>
            <p><h6>Sender personal info</h6></p>
            <div class="form-row">
                <div class="col-md-3">
                    <input class="form-control" placeholder="First Name" th:field="*{receiver.name}"/>
                </div>
                <div class="col-md-3">
                    <input class="form-control",size=20, placeholder="Last Name" th:field="*{receiver.surname}"/>
                </div>
                <div class="col-md-3">
                    <input type="tel" class="form-control",size=20, placeholder="Phone number" th:field="*{receiver.phoneNumber}"/>
                </div>
            </div>
             <div>
                  <div class="col-md-2.5">
                      <input class="form-control" placeholder="Attached notes" th:field="*{attachedNotes}"/>
                  </div>
              </div>
            <br>


            
           <!-- footer -->
            <div class="modal-footer">
               <input class="btn btn-primary" type="submit" name = "action" value="Submit"/>
               <input class="btn btn-primary" type="submit" name = "action" value="Cancel"/>
            </div>
        </form>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © ACME Credits: Innopolis University 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>
        <!-- Core plugin JavaScript-->
        <script th:src="@{/webjars/jquery-easing/1.3/jquery.easing.min.js}"></script>
        <!-- Page level plugin JavaScript-->
        <script th:src="@{/webjars/chartjs/2.7.2/Chart.min.js}"></script>
        <!-- Custom scripts for all pages-->
        <script th:src="@{js/sb-admin.min.js}"></script>
        <!-- Custom scripts for this page-->
        <script th:src="@{js/sb-admin-charts.js}"></script>
    </div>
</div>
</body>
</html>
