<!DOCTYPE HTML>
<html>
	<head>
		<title>Transport Company</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="images/truck.png">
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>ACME</h1>
				<p> Thousands of Happy Customers, Millions of Delivered Parcels<br />
				World's Biggets Transport Network. Brought to you by <a href="http://80.93.182.76:5000/">ACME</a>.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="index.html">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="password" name="password" id="pass" placeholder="Password" />
				<a href="index.html"> top manager</a>
				<a href="orderOperator.html"> order operator</a><input type="submit"/>
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; ACME</li><li>Credits: <a href="https://university.innopolis.ru/en/">Innopolis University</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/main.js"></script>

	</body>
</html>